:root {
    --light: #FFFFFF;
    --blue: #20A4F3;
    --darkblue: #229DE7;
    --aqua: #59F8E8;
    --red: #941C2F;
    --dark: #03191E;
}

* {
    font-family: Calibri;
    color: var(--light);
}

body {
    background-color: var(--dark);
}

nav {
    background-color: var(--blue);
    color:white;
    padding: 15px;
    border-bottom: 5px solid var(--aqua);
    margin-bottom: 50px;
}

nav h1 {
    font-weight: bolder;
    text-align: center;
}

.clearBtn {
    width: 100%;
    background-color: var(--blue);
    color: var(--darkblue);
    border: none;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 20px;
}

.clearBtn:hover {
    background-color: var(--darkblue);
    color: var(--blue);
}

.container-fluid {
    width: 90%;
}

input {
    background-color: var(--red);
    border: solid 3px var(--light);
    border-radius: 10px;
}

.searchBtn {
    width: 100%;
    margin-top: 10px;
    background-color: var(--blue);
    border: double 3px var(--aqua);
    border-radius: 20px;
}

.searchBtn:hover {
    cursor: pointer;
    background-color: var(--aqua);
    border: double 3px var(--blue);
    color: var(--dark)
}

.seperation {
    padding-bottom: 20px;
    border-bottom: solid 3px var(--light);
}

.cityNameBtn {
    margin-top: 25px;
    background-color: var(--red);
    border: double 3px var(--light);
    border-radius: 20px;
}

.cityNameBtn:hover {
    cursor: pointer;
    background-color: var(--light);
    border: double 3px var(--red);
    color: var(--red);
}

.weatherArea {
    background-color: var(--red);
    padding: 20px;
    border: double 5px var(--aqua);
    border-radius: 10px;
}

.title {
    font-size: x-large;
    font-weight: bolder;
}

.uvEl {
    width: 30%;
    border-radius: 20px;
    border: white 5px solid;
}

.weatherCard {
    padding: 20px;
    background-color: var(--blue);
    border: double 3px var(--aqua);
    margin: 10px;
    border-radius: 10px;
}

.icon {
    height: 25;
    width: auto;
}

.low {
    background-color: green;
    color: white;
}

.moderate {
    background-color: orange;
    color:white;
}

.severe {
    background-color: red;
    color:white;
}

.fiveDay {
    margin-top: 30px;
}

.miniTitle {
    font-size: large;
    font-weight: bold;
}